<h4><a href="/user/logout">Logout</a></h4>

{{#if errors}}
  <div style="color:red" class="validation-error">
    {{errors}}
  </div>
{{/if}}

{{#if currentUser}}
    <h1>Welcome, {{currentUser.name}}!</h1>
    <button id="new-task-button">&#43; Task</button>
    <div>
      {{#if tasks}}
        {{#each tasks}}
          {{#if this.isComplete}}
            <div class="tasks-list-item complete-task">
            <h2><span class="task-title"><s>{{this.title}}</s> &#128588;</span></h2>
            <h3><span class="task-description"><s><i>{{this.description}}</i></s></span></h3>
            <form action='/task/complete/{{this._id}}' method="POST">
              <button type="submit" name="toggle-task" class="toggle-task">Undo &#8634;</button>
            </form>
            {{#if this.isOwner}}
              <form action='/task/delete/{{this._id}}' method="POST">
                <button type="submit" name="delete-task" class="delete-task">Delete &#10005;</button>
              </form>
            {{/if}}
            </div>
          {{else}}
            <div class="tasks-list-item">
              <h2><span class="task-title">{{this.title}}</span></h2>
              <h3><span class="task-description"><i>{{this.description}}</i></span></h3>
              <form action='/task/complete/{{this._id}}' method="POST">
                <button type="submit" name="toggle-task" class="toggle-task">Complete &#10003;</button>
              </form>
              {{#if this.isOwner}}
                <form action='/task/delete/{{this._id}}' method="POST">
                  <button type="submit" name="delete-task" class="delete-task">Delete &#10005;</button>
                </form>
              {{/if}}
            </div>
          {{/if}}
        {{/each}}
      {{else}}
        <h2>No tasks to show &#128554;</h2>
      {{/if}}
    </div>
    <div id="new-task-form">
      <form action="/task/create" method="POST" class="create-task">
        <h2>New task &#128218;</h2>
        <label for="title">Task Information &#128203;</label>
        <input name="title" type="text" placeholder="Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title'">
        <input name="description" type="text" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'">
        <label for="collaborator1">Collaborators &#128101;</label>
        <input name="collaborator1" type="email" placeholder="Collaborator Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Collaborator Email'"><br>
        <input name="collaborator2" type="email" placeholder="Collaborator Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Collaborator Email'"><br>
        <input name="collaborator3" type="email" placeholder="Collaborator Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Collaborator Email'"><br>
        <button type="submit" class="create-task-submit">Add Task &#128204;</button>
      </form>
    </div>
{{else}}

<h1>hi</h1>
<div id="login">
  <form class="login-form" action="/user/login" method="POST">
    <h3>Sign in to see your tasks</h3>
    <input name="email" type="text" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'"><br>
    <input name="password" type="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"><br>
    <button type="submit"  class="log-in-submit">Sign In &#128275;</button>
  </form>
</div>

<div id="register">
  <form action="/user/register" method="POST" class="signup-form">
    <h2>Create your account</h2>
    <input name="fl_name" type="text" class="text-input" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
    <input name="email" type="email" class="text-input" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
    <input name="password" type="password" class="text-input" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
    <input name="password_confirmation" type="password" class="text-input" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
    <button class="sign-up-submit" type="submit">Register</button>
  </form>
</div>

<button id="registerInstead">Need an account?</button>

{{/if}}
