<h4><a href="/user/logout">Logout</a></h4>

{{#if errors}}
<div style="color:red" class="validation-error">
    {{errors}}
</div>
{{/if}}

{{#if currentUser}}
    <h1 >Welcome, {{currentUser.name}}!</h1>
    <div>
        {{#if tasks}}
            <ul>
            {{#each tasks}}
                      {{#if this.isComplete}}
                      <div class="tasks-list-item complete-task">
                        <h2><span class="task-title"><s>{{this.title}}</s>{{this.emoji}}</span></h2>
                        <h3><span class="task-description"><s><i>{{this.description}}</i></s></span></h3>
                        <form action='/task/complete/{{this._id}}' method="POST">
                          <button type="submit" name="toggle-task" class="toggle-task">Complete</button>
                        </form>
                        {{#if this.isOwner}}
                          <form action='/task/delete/{{this._id}}' method="POST">
                            <button type="submit" name="delete-task" class="delete-task">Delete</button>
                          </form>
                        {{/if}}
                      </div>
                      {{else}}
                      <div class="tasks-list-item">
                        <h2><span class="task-title">{{this.title}}</span></h2>
                        <h3><span class="task-description"><i>{{this.description}}</i></span></h3>
                        <form action='/task/complete/{{this._id}}' method="POST">
                          <button type="submit" name="toggle-task" class="toggle-task">Complete</button>
                        </form>
                        {{#if this.isOwner}}
                          <form action='/task/delete/{{this._id}}' method="POST">
                            <button type="submit" name="delete-task" class="delete-task">Delete</button>
                          </form>
                        {{/if}}
                      </div>
                      {{/if}}
            {{/each}}
            </ul>
        {{else}}
            <h2>No tasks to show &#9785;</h2>
        {{/if}}
    </div>
    <hr>
    <div>
        <form action="/task/create" method="POST" class="create-task">
            <h2>Add a new task</h2>
            <label for="title">Task Information:</label>
            <input name="title" type="text" placeholder="Title">
            <input name="description" type="text" placeholder="Description">
            <label for="collaborator1">Collaborators:</label>
            <input name="collaborator1" type="email" placeholder="Collaborator Email"><br>
            <input name="collaborator2" type="email" placeholder="Collaborator Email"><br>
            <input name="collaborator3" type="email" placeholder="Collaborator Email"><br>
            <button type="submit" class="create-task-submit">Add Task</button>
        </form>
    </div>

{{else}}
<h1>Jo-Jo's Ballin' Social Todo Application</h1>
<div id="login">
    <form class="login-form" action="/user/login" method="POST">
        <h2>Log In</h2>
        <label for="email">Email</label>
        <input name="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password" type="password"><br>
        <button type="submit"  class="log-in-submit">Log In</button>
    </form>
</div>

<div id="register">
    <form action="/user/register" method="POST" class="signup-form">
      <h2>Register</h2>
      <label for="fl_name">Name</label>
      <input name="fl_name" type="text" class="text-input">
      <label for="email">Email Address</label>
      <input name="email" type="email" class="text-input">
      <label for="password">Password</label>
      <input name="password" type="password" class="text-input">
      <label for="password_confirmation">Confirm Password</label>
      <input name="password_confirmation" type="password" class="text-input">
      <button class="sign-up-submit" type="submit">Register</button>
    </form>
</div>

{{/if}}
