<h1>do stuff socially</h1>

{{#if errors}}
<div style="color:red" class="validation-error">
    {{errors}}
</div>
{{/if}}

{{#if currentUser}}
    <h2>Welcome, {{currentUser.name}}</h2>
    <div>
        <h4>Your Tasks</h4>

        {{#if tasks}}
            <ul>
            {{#each tasks}}
                    <div class="task">
                      <p>
                      {{#if this.isComplete}}
                        <span class="task-title"><s>{{this.title}}</s></span>
                      {{else}}
                        <span class="task-title">{{this.title}}</span>
                      {{/if}}
                      </p>
                      <p><span class="task-description"><i>{{this.description}}</i></span></p>

                      {{#if this.isOwner}}
                        <form action='/task/delete/{{this._id}}' method="POST">
                          <input type="submit" name="delete-task" class="delete-task" value="Delete">
                        </form>
                      {{/if}}

                      <form action='/task/complete/{{this._id}}' method="POST">
                        <input type="submit" name="toggle-task" class="toggle-task" value="Complete">
                      </form>
                    </div>
            {{/each}}
            </ul>
        {{else}}
            No tasks to show!
        {{/if}}
    </div>
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form action="/task/create" method="POST">
            <input name="title" type="text" placeholder="Title"><br>
            <input name="description" type="text" placeholder="Description"><br>
            Collaborators<br>
            <input name="collaborator1" type="email"><br>
            <input name="collaborator2" type="email"><br>
            <input name="collaborator3" type="email"><br>
            <input type="submit" class="create-task-submit">
        </form>
    </div>

{{else}}
<h4>Log In</h4>
<div>
    <form class="login-form" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password" type="password"><br>
        <input type="submit"  class="log-in-submit">
    </form>
</div>

<div><hr></div>
<h4>Register</h4>
<div>
    <form action="/user/register" method="POST" class="signup-form">
      <input name="fl_name" type="text" class="text-input" placeholder="First &amp; Last Name">
      <input name="email" type="email" class="text-input" placeholder="Email">
      <input name="password" type="password" class="text-input" placeholder="Password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="Confirm Password">
      <input class="sign-up-submit" type="submit">
    </form>
</div>
{{/if}}
